Python

pycache
*.py[cod]
*$py.class
venv/
env/
.env

Git

.git
.gitignore

tequant_frontend (If your React app is inside a folder in this repo)

tequant_frontend/node_modules
tequant_frontend/dist
tequant_frontend/build
node_modules/

Docker

Dockerfile
docker-compose.yml
